@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
}

.custom-arrow {
    color: #319795 !important;   
    z-index: 1000 !important;
}
.blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
   
}

html,
body {
    overflow-x: hidden;
    /* Отключает горизонтальную прокрутку */
}

.shimmer-button {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Начинаем анимацию за левой границей кнопки */
    width: 200%; /* Достаточно широкая полоса для покрытия кнопки */
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    transform: skewX(-30deg);
    animation: shimmer 2s infinite; /* Настройте скорость, если нужно */
  }
  .btn {
    background-color: #26704d;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.4s ease-out forwards;
  }
  
  

  @keyframes shimmer {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  
